* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
a {
    color: white;
    text-decoration: none;
}
button a {
    text-decoration: none;
    color: black;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-image: url(photo-1553095066-5014bc7b7f2d.avif);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 700px;
    font-size: 60px;
    font-weight: 1000;
    color: white;
}
button {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.b1 {
    background-color: black;
    border: none;
    border-radius: 0;
    color: white;
    transition: all 0.2s ease-in-out;
}
.b1:hover {
    background-color: rgb(39, 39, 39);
    transform: scale(1.1);
}
.b1 a {
    color: white;
}
.b2 {
    font-size: large;
    border: none;
    outline: 2px solid black;  
    outline-offset: -4px;
    transition: all 0.1s;
}
.b2:hover {
    background-color: rgb(206, 205, 205);
    outline: 2px solid white;
    outline-offset: 6px;
    transform: scale(0.9);
}
.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}
nav {
    position: fixed;
    width: 100vw;
    display: flex;
    background-color: black;
    height: 100px;
    color: white;
    align-items: center;
}
nav > .text > a , nav > .items > a {
    text-decoration: none;
    color: white;
}
.text {
    margin-right: auto; 
    margin-left: 20px;
    font-size: xx-large;
}
.items {
    margin-right: 20px; 
}
.products {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.products > h1 {
    align-self: center;
    font-size: 30px;
    margin-left: 30px;
}
.card {
    background-color: white;
    width: 30vw;
    margin: 30px;
    margin-top: 100px;
    box-shadow: 12px 12px 12px gray;
    padding: 20px;
}
.c1 {
    margin-left: 30px;
}
.c2 {
    margin-right: 30px;
}
@media screen and (max-width : 800px) {
    main > .heading > h1 {
        font-size: larger;
    }
    main {
        justify-content: center;
    }
    .products , .comments{
        flex-direction: column;
        align-items: center;
    }
    .comments > h1 {
        margin-top: 40px;
    }
    .card {
        width: 80%;
    }
    .c1, .c2 {
        margin: 10px;
        margin-bottom: 50px;
    }
}
.comments {
    padding-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.comments > h1 {
    color: white;
    margin-left: 5px;
}
.c3, .c4 {
z-index: 2;
display: flex;
align-items: flex-start;
padding-top: 20px;
flex-direction: column; 
}
.c3 > h1, .c4 > h1 {
margin: 10px 0 5px 0;
}
.c3 > p, .c4 > p {
margin: 5px 0; 
}
.c3 > img, .c4 > img {
width: 50px;
height: 50px;
border-radius: 100%;
}
.addcomment {
padding-top: 30px;
margin-top: 20px;
align-self: flex-end;
display: flex;
position: relative;
right: 40%;
top: 90px;
}
@media screen and (max-width : 720px){
.addcomment {
    right: 50vw;
}
}
.addcomment input {
background-color: black;
color: white;
border: none;
border-radius: 5px;
margin-top: -20px; 
margin-left: 10px; 
}
.addcomment > img {
align-items: flex-start;
margin-right: 4px;
width: 30px;
height: 30px;
border-radius: 100%;
}
footer {
background-color: dodgerblue;
height: 200px;
display: flex;
align-items: center;
justify-content: center;
}
#iconsstart{
margin-left: 30px;
}
footer > a {
margin-left: 10px;
}